#menu-toggle {
  display: inline-block;
  cursor: pointer;
  margin-left: 20px;

  @include breakpoint(lg-tablet) {
    display: none;
  }

  svg {
    path {
      stroke: $gold;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-align: right;

  @include breakpoint(lg-tablet) {
    justify-content: space-between;
  }

  .main-menu-wrap {
    flex-basis: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 0;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(255 255 255 / 97%);
    transition: all 0.3s ease;
    z-index: 9999;
    justify-content: flex-end;

    @include breakpoint(lg-tablet) {
      display: flex;
      position: initial;
      height: auto;
      min-width: unset;
      width: 100%;
      padding: 0;
      background-color: transparent;
      gap: 20px;
      margin-top: 7px;
    }

    .menu-main-header-nav-container {
      padding: 0 40px 40px;

      @include breakpoint(lg-tablet) {
        padding: 0;
      }

      ul {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-weight: bold;
        list-style: none;
        flex-direction: column;
        margin-top: 20px;

        @include breakpoint(lg-tablet) {
          flex-direction: row;
          margin-top: unset;
          justify-content: center;
        }

        @include breakpoint(lg-desktop) {
          gap: 40px;
        }

        li {
          a {
            font: 500 13px / 20px $main-font;

            @include breakpoint(sm-desktop) {
              font: 500 13px/20px $main-font;
            }

            color: $gold;
            white-space: nowrap;
            text-transform: uppercase;
          }

          ul {
            visibility: hidden;
            overflow: hidden;
            width: auto;
            padding-left: 30px;
            transition: all 0.5s ease-out;
            margin: 0;

            @include breakpoint(lg-tablet) {
              background-color: $white;
              position: absolute;
              display: flex;
              flex-direction: column;
              gap: 20px;
              padding: 0 20px;
              border-radius: 8px;
            }

            li {
              &:first-child {
                margin-top: 24px;
              }

              text-align: left;

              @include breakpoint(lg-tablet) {
                &:last-child {
                  margin-bottom: 24px;
                }
              }

              a {
                font: 400 14px/20px $main-font;
                color: $main-font;

                @include breakpoint(lg-tablet) {
                  color: $darkgray;
                }
              }
            }
          }
        }
      }
    }

    .tagsw-logo-wrap {
      padding: 40px 40px 0;
      width: 200px;

      @include breakpoint(lg-tablet) {
        display: none;
      }
    }

    .close-menu-toggle {
      position: absolute;
      top: 20px;
      right: 10px;
      cursor: pointer;

      @include breakpoint(lg-tablet) {
        display: none;
      }
    }

    &.active {
      width: 320px;
    }
  }
}

.sh-header-simple {
  nav {
    @include breakpoint(lg-tablet) {
      flex-basis: 100%;
    }
  }
}

body.admin-bar {
  nav {
    .main-menu-wrap {
      top: 32px;

      @include breakpoint(sm-tablet) {
        top: 0;
      }
    }
  }
}
