/* montserrat-regular - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/montserrat-v23-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-v23-latin-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-regular.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-regular.ttf") format("truetype"),
    url("../fonts/montserrat-v23-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v23-latin-500.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/montserrat-v23-latin-500.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-v23-latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-500.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-500.ttf") format("truetype"),
    url("../fonts/montserrat-v23-latin-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v23-latin-600.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/montserrat-v23-latin-600.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-v23-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-600.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-600.ttf") format("truetype"),
    url("../fonts/montserrat-v23-latin-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v23-latin-800.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/montserrat-v23-latin-800.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-v23-latin-800.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-800.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-800.ttf") format("truetype"),
    url("../fonts/montserrat-v23-latin-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}

/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ibm-plex-mono-v11-latin-regular.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/ibm-plex-mono-v11-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ibm-plex-mono-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/ibm-plex-mono-v11-latin-regular.woff") format("woff"),
    url("../fonts/ibm-plex-mono-v11-latin-regular.ttf") format("truetype"),
    url("../fonts/ibm-plex-mono-v11-latin-regular.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}

/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ibm-plex-mono-v11-latin-600.eot"); /* IE9 Compat Modes */
  src:
    local(""),
    url("../fonts/ibm-plex-mono-v11-latin-600.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ibm-plex-mono-v11-latin-600.woff2") format("woff2"),
    url("../fonts/ibm-plex-mono-v11-latin-600.woff") format("woff"),
    url("../fonts/ibm-plex-mono-v11-latin-600.ttf") format("truetype"),
    url("../fonts/ibm-plex-mono-v11-latin-600.svg#IBMPlexMono") format("svg"); /* Legacy iOS */
}
