$footer-font: $main-font;

footer {
  .shantal-footer-inner {
    @include container;

    padding-top: 100px;

    .shantal-footer-bottom {
      margin-top: 66px;

      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          a {
            font: 400 14px / 150% $footer-font;
            color: $main-text-color;
            text-decoration: underline;
          }

          &:not(:first-child)::before {
            content: "e";
            margin: 0 5px;
            color: $main-text-color;
          }
        }
      }
    }

    .shantal-footer-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;

      @include breakpoint(lg-tablet) {
        justify-content: space-between;
      }

      .shantal-footer-item {
        width: calc(50% - 30px);

        @include breakpoint(lg-tablet) {
          width: auto;
        }

        &.shantal-footer-info {
          width: auto;

          @include breakpoint(lg-tablet) {
            width: calc((100%/5) - 30px);
          }

          .logo-wrap {
            margin-top: -18px;

            svg {
              width: 181px;
            }
          }

          p {
            font: 14px / 21px $footer-font;
            color: $main-text-color;
            margin-bottom: 21px;
          }

          .footer-company-info {
            margin-top: 25px;

            .shantal-footer-info-item {
              display: flex;
              align-items: center;
              gap: 0 13px;
              margin-bottom: 20px;

              span {
                font: 14px / 21px $footer-font;
                color: $main-text-color;
              }
            }
          }
        }

        h5 {
          color: $main-text-color;
          font: 600 18px / 23px $footer-font;
          margin-bottom: 35px;
        }

        ul {
          li {
            margin-bottom: 30px;

            a {
              font: 400 14px / 150% $footer-font;
              color: $main-text-color;
            }
          }
        }
      }
    }
  }
}
