// colors pallete
$black: #000;
$white: #fff;
$red: #aa8491;
$gray: #646464;

// defaults
$container-max-width: 1600px;
$main-font: "Poppins", sans-serif;
$main-text-color: $darkgray;
$button-bg-color: transparent;
$button-bg-hover-color: $red;
$button-text-color: $red;
$button-text-color-hover: $white;
$header-background: rgb(255 255 255 / 45%);
$h1-size: 36px;
$h2-size: 28px;
$h3-size: 22px;
$text-font-size: 16px;
$h1-mobile-size: 28px;
$h2-mobile-size: 22px;
$h3-mobile-size: 18px;
$text-mobile-font-size: 14px;
