.sh-hours-whatsapp-outer {
  .sh-hours-whatsapp-inner {
    display: flex;
    gap: 32px;
    flex-direction: column;

    @include breakpoint(mobile) {
      flex-direction: row;
    }

    .sh-hours-wpp-item {
      display: flex;
      align-items: center;
      gap: 15px;

      &.sh-hours {
        .sh-hours-text {
          font: 400 12px / 12px $main-font;
          letter-spacing: -0.01em;
        }
      }

      &.sh-whatsapp {
        .sh-whatsapp-text {
          font: 600 15px / 16px $main-font;
        }
      }
    }
  }
}
