.sh-side-by-side-txt-img-outer {
  margin: 50px 0;

  .sh-side-by-side-txt-img-inner {
    @include container;

    .sbs-wrap {
      display: flex;
      flex-direction: column;
      gap: 37px;

      @include breakpoint(lg-tablet) {
        flex-direction: row;
        align-items: center;
        gap: 64px;
      }

      .sh-text-wrap {
        flex-basis: 100%;
        order: 2;

        @include breakpoint(lg-tablet) {
          order: 1;
        }

        h3 {
          font: 600 25px / 100% $main-font;
          margin-bottom: 13px;
          color: $primary-color;
        }

        .sh-sbs-content {
          margin-bottom: 28px;

          ul {
            padding: 12px 0 12px 20px;
            list-style-type: square;
            display: flex;
            flex-direction: column;
            gap: 12px;
          }

          p,
          li {
            font: 400 16px / 140% $main-font;
            color: $main-text-color;

            @include breakpoint(sm-tablet) {
              font: 400 18px / 140% $main-font;
            }
          }
        }

        .sh-square-small-button-wrap {
          text-align: left;
        }
      }

      .sh-img-wrap {
        flex-basis: 30%;
        height: auto;
        text-align: center;
        order: 1;

        @include breakpoint(lg-tablet) {
          order: 2;
        }

        img {
          object-fit: cover;
          object-position: center;
          width: auto;
          height: 100%;
          max-width: 100%;
        }
      }
    }

    &.sh-sbs-img-first {
      .sh-img-wrap {
        order: 1;
      }

      .sh-text-wrap {
        order: 2;
      }
    }

    &.sh-sbs-full {
      margin: 0;
      width: 100%;
      max-width: unset;

      .sbs-wrap {
        .sh-text-wrap {
          margin-left: 2.5%;

          @include breakpoint(sm-tablet) {
            margin-left: 5%;
          }

          @include breakpoint(sm-desktop) {
            margin-left: 10%;
          }
        }
      }
    }
  }
}
