.sh-paralax-cta-block-outer {
  position: relative;
  min-height: 470px;
  background-color: #eee;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint(sm-tablet) {
    min-height: 360px;
  }

  // &::after {
  //   content: " ";
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   background: $darkgray;
  //   opacity: 0.4;
  //   width: 100%;
  // }

  h2 {
    margin: 10px auto;
    font: 700 28px / 140% $main-font;
    color: $darkgray;
    max-width: 500px;

    @include breakpoint(lg-tablet) {
      max-width: 40%;
    }

    @include breakpoint(lg-desktop) {
      max-width: 30%;
    }
  }

  .sh-paralax-cta-block-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding-top: 15px;

    @include breakpoint(sm-tablet) {
      padding-top: 0;
    }

    &.paralax-2 {
      h2 {
        color: #fff;
      }
    }

    &.cta-btn-pos-center {
      & > div {
        text-align: center;

        @include breakpoint(sm-desktop) {
          margin-bottom: 60px;
        }
      }

      & > h2 {
        text-align: center;
        align-self: center;
        margin: 10px auto 32px;

        @include breakpoint(sm-desktop) {
          margin: 10px auto;
        }
      }
    }

    &.cta-btn-pos-left {
      & > div {
        text-align: left;
      }

      & > h2 {
        text-align: left;
        align-self: flex-start;
        margin: 10px 0 32px;

        @include breakpoint(sm-desktop) {
          margin: 10px 0;
        }
      }
    }

    &.cta-btn-pos-right {
      & > div {
        text-align: right;
      }

      & > h2 {
        text-align: right;
        align-self: flex-end;
        margin: 10px 0 32px;

        @include breakpoint(sm-desktop) {
          margin: 10px 0;
        }
      }
    }
  }

  .sh-paralax-divider {
    height: 150px;
    overflow: hidden;
    position: absolute;
    bottom: -3px;
    width: 100%;
    z-index: 1;

    svg {
      path {
        fill: $white;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    background: $white;
    width: 100%;
    z-index: 1;

    @include breakpoint(sm-tablet) {
      opacity: 0.4;
    }
  }
}
