.sh-slider-default {
  .sh-slider-wrap {
    .sh-slide {
      .slide-img {
        img {
          max-width: 100%;
        }
      }

      .slide-title {
        font: 700 25px/38px $main-font;
        text-align: center;
        margin: 14px 0 8px;
      }

      .slide-text {
        font: 400 18px/25.5px $main-font;
        text-align: center;

        p {
          font: 400 18px/25.5px $main-font;
          text-align: center;
        }
      }

      .sh-square-small-button-wrap {
        margin: 22px auto 0;
      }
    }
  }

  &.sh-slider-sqr-rounded {
    .sh-slider-wrap {
      .sh-slide {
        .slide-img {
          overflow: hidden;
          border-radius: 25px;
        }
      }
    }
  }

  &.sh-slider-rounded {
    .sh-slider-wrap {
      .sh-slide {
        .slide-img {
          overflow: hidden;
          border-radius: 50%;
          aspect-ratio: 1 / 1;
          max-width: 200px;
          margin: 0 auto;

          @supports not (aspect-ratio: 1 / 1) {
            .element::before {
              float: left;
              padding-top: 100%;
              content: "";
            }

            .element::after {
              display: block;
              content: "";
              clear: both;
            }
          }

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: unset;
          }
        }
      }
    }
  }
}
