.animate-on-screen{
    transition: all .75s ease;
    overflow: hidden;
    &.animate-appear{
        opacity: 0;
        &.appear-from-bottom{
            transform: translateY(50%);
        }
        &.appear-from-top{
            transform: translateY(-50%);
        }
        &.appear-from-left{
            transform: translateY(50%);
            @include breakpoint(lg-tablet){
                transform: translateX(-20%);
            }
        }
        &.appear-from-right{
            transform: translateY(50%);
            @include breakpoint(lg-tablet){
                transform: translateX(20%);
            }
        }
    }
    &.animate-appear-done{
        opacity: 1;
        transform: translateY(0%);
        transform: translateX(0%);
    }
}