.sh-square-small-button-wrap {
  display: block;
  text-align: center;

  a {
    display: inline-block;
    padding: 3px 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    background-color: $button-bg-color;
    color: $button-text-color;
    font: 400 18px / 21.09px $main-font;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

    &:hover {
      background-color: $button-bg-hover-color;
    }
  }
}
