.sh-contact-n-map-outer {
  .sh-contact-n-map-inner {
    @include container;

    .sh-contact-n-map {
      display: flex;
      flex-direction: column;
      gap: 83px;
      align-items: center;

      @include breakpoint(lg-tablet) {
        flex-direction: row;
        gap: 64px;
      }

      .sh-mnc-contact {
        flex-basis: 50%;
      }

      .sh-mnc-map {
        flex-basis: 50%;

        img {
          max-width: 100%;
        }
      }
    }
  }
}
