.sh-slider-outer {
  .sh-slider-inner {
    @include container;

    max-width: 90%;
    position: relative;

    .sh-slider-next,
    .sh-slider-prev {
      position: absolute;
      top: 45%;
      display: none;

      @include breakpoint(sm-tablet) {
        display: block;
      }

      @include breakpoint(lg-tablet) {
        top: 38%;
      }

      &.swiper-button-disabled {
        display: none;
      }

      svg {
        path,
        circle {
          stroke: #888;
        }
      }
    }

    .sh-slider-next {
      right: -5%;

      @include breakpoint(lg-tablet) {
        right: -6%;
      }
    }

    .sh-slider-prev {
      left: -5%;

      @include breakpoint(lg-tablet) {
        left: -6%;
      }

      svg {
        transform: rotate(180deg);
      }
    }
  }
}
